 body{
	text-align: center;
	font-family: 'Lato';
}
#container {
	background-color: blue;
	display: inline-block;;
	border-radius: 6px;

}
.header {

	margin: 20px;
}

.options {

	margin: 20px;
}
.col{
	width: 70px;
	height: 70px;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	margin: 5px;

}
.col.empty {
	cursor: pointer;
}

.hover-red{
	background-color: red;

}

.hover-yellow{
	background-color: yellow;

}

.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.pink {
	background-color: pink;
}
.orange {
	background-color: orange;
}
.black {
	background-color: black;
}
.purple {
	background-color: purple;
}



.win {
	background-image: url("img/Super.jpg");
	background-size: cover;
	margin: auto;
	width: 1054px;
	height: 576px;
}

p {
	font-size: 50px;
	font-weight: bold;
	margin-top: 300px;
	color: white;
	text-align: left;
	display: inline-block;
	text-shadow: 2px 2px black;

}
h1 {
	font-weight: bold;
	font-size: 40px;		
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}